<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width">
    <script src='/ktv/public/js/rem.js'></script>
    <link rel="stylesheet" href="/ktv/public/css/gameindex.css">
    <title>Title</title>
</head>
<body>
 <header>
     <img src="/ktv/public/img/Bar.png" alt="">
 </header>
 <section class="nav">
     <a href="javascript:history.back();"></a>
     <p>游戏</p>
     <a href=""></a>
 </section>
 <div class="content">
 <ul class="main">
     <li><a href="/ktv/index.php/gameindex/select?type=1">真心话</a></li>
     <li><a href="/ktv/index.php/gameindex/select?type=2">大冒险</a></li>
     <li><a href="">真心话</a></li>
     <li><a href="">大冒险</a></li>
     <li><a href="">真心话</a></li>
     <li><a href="">大冒险</a></li>
 </ul>
 </div>
</body>
</html>