<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/ktv/public/js/jquery-3.2.1.js"></script>
    <script src="/ktv/public/js/iscroll.js"></script>
    <script src="/ktv/public/js/rem.js"></script>
    <script src="/ktv/public/js/geci.js"></script>
    <link rel="stylesheet" href="/ktv/public/css/geci.css">
    <title>Document</title>
</head>
<body>
<header>
    <img src="/ktv/public/img/Bar.png" alt="">
</header>
<!--按钮开始-->
<section class="nav">
    <a href="javascript:history.back()"></a>
    <h3>歌手</h3>
    <a href=""></a>
</section>
<!--歌词部分开始-->
<div class="wrapper">
    <ul class="geci">

    </ul>
</div>
<!--歌词部分结束-->
<!--按钮部分开始-->
<section class="anniu">
    <ul>
        <li class="prev">
            <a href="javascript:;">
                <img src="/ktv/public/img/yt.png" alt="">
                <h3>上一首</h3>
            </a>
        </li>
        <li class="zanting">
            <a href="javascript:;">
                <img src="/ktv/public/img/gc5.png" alt="">

            </a>
        </li>
        <li class="next">
            <a href="">
                <img src="/ktv/public/img/gc4.png" alt="">
                <h3>下一首</h3>
            </a>
        </li>
    </ul>
</section>
<!--按钮部分结束-->
<section class="footer">
    <div class="up">
        <img src="/ktv/public/img/ly_06.png" alt="">
        <div class="jindu"></div>
        <div class="red"></div>
        <span class="ctime">0</span>
    </div>
    <div class="up">
        <img src="/ktv/public/img/ly_07.png" alt="">
        <div class="jindu"></div>
        <span class="duration">63</span>
    </div>
</section>
<audio src="" controls class="audio1" hidden autoplay></audio>
</body>
</html>