<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/ktv/public/css/index.css">
    <script src='/ktv/public/js/rem.js'></script>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
  <ul class="main">
      <li><a href="/ktv/index.php/sing/geshou"  class="song">点歌</a></li>
      <li><a href="/ktv/index.php/gameindex/index" class="game">游戏</a></li>
      <li><a href="/ktv/index.php/shop/index" class="shop">商店</a></li>
      <li><a href="/ktv/APP/views/myself.html" class="my">我的</a></li>
  </ul>
</body>
</html>