<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width">
    <script src="/ktv/public/js/rem.js"></script>
    <link rel="stylesheet" href="/ktv/public/css/myself.css">
</head>
<body>
<header>
    <img src="/ktv/public/img/Bar.png" alt="">
</header>
<!--按钮开始-->
<section class="nav">
    <a href="javascript:history.back();"></a>
    <h3>个人中心</h3>
    <a href=""></a>
</section>
<section class="content">
    <div class="touxiang">
        <img src="/ktv/public/img/singer-09.png" alt="">
    </div>
<div class="name">
      <h3>甲壳虫</h3>
      <h4>DACHONG JIAKE CHONG</h4>
     <span>9856565D</span>
 </div>
    <ul class="fenlei">
        <li>
            <div class="num">
                <span><b>658</b></span>
                <span>关注</span>
            </div>
            <h3>456</h3>
        </li>
        <li>
            <div class="num">
                <span>658</span>
                <span>粉丝</span>
            </div>
            <h3>985</h3>
        </li>
        <li>

            <div class="num">
                <span>658</span>
                <span>订单</span>
            </div>
            <h3>456</h3>
        </li>
    </ul>
    <!--<div class="text">-->
        <!--<h3>我的作品</h3>-->
        <!--<h4>UI/Design</h4>-->
    <!--</div>-->
    <!--<ul class="gequ">-->
        <!--<li>-->
            <!--<h3>歌手与演员 ——那英</h3>-->
            <!--<h4>04''30</h4>-->
        <!--</li>-->
        <!--<li>-->
            <!--<h3>歌手与演员 ——那英</h3>-->
            <!--<h4>04''30</h4>-->
        <!--</li>-->
        <!--<li>-->
            <!--<h3>歌手与演员 ——那英</h3>-->
            <!--<h4>04''30</h4>-->
        <!--</li>-->
        <!--<li>-->
            <!--<h3>歌手与演员 ——那英</h3>-->
            <!--<h4>04''30</h4>-->
        <!--</li>-->
        <!--<li>-->
            <!--<h3>歌手与演员 ——那英</h3>-->
            <!--<h4>04''30</h4>-->
        <!--</li>-->
    <!--</ul>&ndash;&gt;-->
</section>
</body>
</html>