<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/ktv/public/css/room.css">
    <script src="/ktv/public/js/rem.js"></script>
    <script src="/ktv/public/js/jquery-3.2.1.js"></script>
    <script src="/ktv/public/js/room.js"></script>
    <script src="/ktv/public/js/iscroll.js"></script>
</head>
<body>
<header>
    <img src="/ktv/public/img/Bar.png" alt="">
</header>
<div class="toubu">
    <a href="javascript:history.back();"></a>
    <section class="nav">
      <span>·&nbsp; <b>0800</b>&nbsp;房间已选商品 &nbsp; ·</span>
        <span class="totalsl">共26件</span>
    </section>
    <a href=""></a>
</div>
<div class="wrapper">
    <ul class="scroller">
    </ul>
</div>
 <div class="jiage">
     <span>TOTAL</span> &nbsp;
     <div>
         <h3>总价</h3>
         <h4>RMB</h4>
     </div>
     &nbsp;
     <span class="totolprice">0</span>
 </div>
<footer>
    <a  class="last" href="/ktv/index.php/shop/shopsure">确认提交
    </a>
</footer>

</body>
</html>