<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/ktv/public/css/shopsure.css">
    <script src="/ktv/public/js/rem.js"></script>
    <script src="/ktv/public/js/jquery-3.2.1.js"></script>
    <script src="/ktv/public/js/room.js"></script>
    <script src="/ktv/public/js/iscroll.js"></script>
</head>
<body>
<header>
    <img src="/ktv/public/img/Bar.png" alt="">
</header>
<div class="toubu">
    <a href="javascript:history.back();"></a>
    <section class="nav">
      提交成功
    </section>
    <a href=""></a>
</div>
<div class="img">

</div>
<a  class="fanhui" href="/ktv/index.php/home/index">返回点歌</a>
</body>
</html>