<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/ktv/public/css/shop.css">
    <script src="/ktv/public/js/rem.js"></script>
    <script src="/ktv/public/js/jquery-3.2.1.js"></script>
    <script src="/ktv/public/js/shop.js"></script>
    <script src="/ktv/public/js/iscroll.js"></script>
</head>
<body>
  <header>
      <img src="/ktv/public/img/Bar.png" alt="">
  </header>
  <!--按钮开始-->
  <div class="toubu">
        <a href="javascript:history.back()"></a>
       <section class="nav">
           <button class="active b1"><span class="s1">酒水</span> <span class="s2 winenum">0</span></button>
           <button><span class="s1">零食</span> <span class="s2 snacknum">0</span></button>
           <div class="flag"></div>
         </section>
      <a href=""></a>
  </div>
   <!--按钮结束-->
  <div class="wrapper Winelist">
   <ul class="main scroller">

   </ul>
  </div>


  <div class="wrapper Snacklist">
      <ul class="main scroller">

      </ul>
  </div>
  <footer>
     <ul class="choose">
         <li>已选</li>
         <div class="xuanze">

         </div>
         <div class="more">
             <div></div>
             <div></div>
             <div></div>
         </div>
     </ul>
      <div class="bottom">
          <div class="total">
              <span>合计:</span>
              <span class="totalnum">&nbsp;0</span>
              <span>&nbsp;RMB</span>
          </div>
          <a class="xuan">选好了</a>
      </div>
  </footer>
  <script src="/ktv/public/js/iscroll.js"></script>
</body>
</html>