<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/ktv/public/js/jquery-3.2.1.js"></script>
    <script src="/ktv/public/js/rem.js"></script>
    <script src="/ktv/public/js/shoucang.js"></script>
    <link rel="stylesheet" href="/ktv/public/css/shoucang.css">
    <title>Document</title>
</head>
<body>
<header>
    <img src="/ktv/public/img/Bar.png" alt="">
</header>
<!--按钮开始-->
<section class="nav">
    <a href="javascript:history.back();"></a>
    <h3>已收藏</h3>
    <a href="" class="shoucang">已0首</a>
</section>
<!--内容开始-->
<section class="content">
    <ul class="gequ">
    </ul>
</section>
<!--内容结束-->
</body>
</html>