<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width">
    <script src="/ktv/public/js/jquery-3.2.1.js"></script>
    <script src="/ktv/public/js/rem.js"></script>
    <script src="/ktv/public/js/singerdetail.js"></script>
    <link rel="stylesheet" href="/ktv/public/css/singerdetail.css">
</head>
<body>
<header>
    <img src="/ktv/public/img/Bar.png" alt="">
</header>
<!--按钮开始-->
<section class="nav">
    <a href="javascript:history.back();"></a>
    <h3>Alice</h3>
    <a href="/ktv/index.php/shoucang/index" class="shoucang">已收藏</a>
</section>
<!--介绍开始-->
<section class="jieshao">
    <img src="/ktv/public/img/singer-03.png" alt="">
    <div class="text">
        <span class="s1">Alice</span>
        <span class="s2">——&nbsp;内地女歌手</span>
        <div class="song">
            <img src="/ktv/public/img/songsmusic.png" alt="">
            <span>歌曲&nbsp;6540</span>
        </div>
        <h3>本月点击量&nbsp;:&nbsp;784</h3>
    </div>
</section>
<!--介绍结束-->
<!--内容开始-->
<ul class="gequ">

</ul>
<!--内容结束-->
</body>
</html>